:root{
    --background-colour: #8e9aaf;
    --accent-colour: #CBC0D3;
    --control-background: #EFD3D7;
    --font-light-colour : #FEEAFA;
    --main-panel-colour: #DEE2FF;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-colour);
}

.main-container{
    position: relative;
    margin:auto;
    width: 80vw;
    height: 100vh;
}

.light-text{
    color: var(--font-light-colour);
}

.panel{
    position: relative;
    height: 25%;
    width: 80%;
    background: var(--main-panel-colour);
    padding:25px;
    outline: 4px dotted var(--accent-colour);
    outline-offset: -20px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    animation: outline-in 0.1s linear forwards;
}

.panel:hover{
    animation: outline-out 0.1s linear forwards;
    background: var(--control-background);
    
}

#preview{
    
}

#preview .dz-preview{
    display: flex;
    position: relative;
    outline: 1px solid var(--main-panel-colour);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent-colour);
    margin-bottom: 16px;
}

#preview .dz-preview .dz-image img{
    width: 40px
}
#preview .dz-preview div{
    border: 1px solid
}

@keyframes outline-out {
    from {
        outline-offset: -20px;
    }
    to {
        outline-offset: -4px;
    }
}

@keyframes outline-in {
    from {
        outline-offset: -4px;
    }
    to {
        outline-offset: -20px;
    }
}